{{> head}}

{{> nav}}

<div id="band" class="container text-center">
  <h3>Just managing my game collection!</h3>
  <p><em>🔥GGWP🔥</em></p>
  <p>Managing a big game collection of <b>{{total}}</b> games is never easy. So I came up with this idea of making this site. (Yeah I'm showing off.)</p>
</div>

{{> carousel}}

{{> footer}}