<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="Back To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Courtesy : <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>
</footer>
</body>
</html>