<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="/">Home</a></div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ps4">PS4</a></li>
        <li><a href="/pc">PC</a></li>
        <li><a href="/ps3">PS3</a></li>
        <li><a href="/psvita">PS Vita</a></li>
        <li><a href="/xboxone">XBO</a></li>
      </ul>
    </div>
  </div>
</nav>